.bottom-container{
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(68, 66, 66);
    margin: auto;
    border-radius: 5px;
}

.radio-tile-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 8px;
    text-align: center;
    padding-top: 20px;
}

.input-container{
    position: relative;
    height: 30px;
    width: auto;
    padding: 5px;
    margin: 5px;
}

.input-container input{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.bottom-container input:checked + label{
    color: #0079FF;
}

.bottom-container input:hover + label{
    color: #ADC4CE;
}

.bottom-container p:hover{
    color: #0079FF;
    cursor: pointer;
}
td {
    padding: 10px;
}